<div class="container mainPage">
  <h1 class="align" >Liftr</h1>

  <div class="container bg">
    <%= image_tag 'barbell.jpg', class: "img-fluid rounded", alt: "barbell" %>
  </div>

  <div class="row">
    <div class="col">A simple workout tracker </div>
    <div class="col">Made with the beginner in mind</div>
    <div class="col">Punch in your preferences and go from there</div>
  </div>

  <div class="align">
    <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-outline-primary" %>
    <%= link_to 'New Workout', new_workout_path, class: "btn btn-outline" %>
  </div>

</div>