
<div class="members">
  <%= render 'layouts/sidenav' %>
  <h3>Welcome to the members area</h3>
  <p class="lead">Use the schedule button to view your training days, <br> the cusom
  workout button to design your own routines, and the start workout button to fire it up</p>

  <!-- Build out schedule button here  -->

  <!-- Start Workout Button -->
</div>
