
<div class="members">
  <%= render 'layouts/sidenav' %>
  <h3>Welcome to the members area</h3>
  <p class="lead">Use the "New Workout" button to log your workout, and "My Workouts" to view workouts youve previously logged</p>
</div>
