
<div class="members">
  <%= render 'layouts/sidenav' %>
  <h4>MEMBERS ONLY AND SUCH</h4>
  <!-- Build out schedule button here  -->

  <%= link_to 'Custom Workout', new_workout_path, class: "btn btn-outline-primary" %>

  <!-- Start Workout Button -->
</div>

