<nav class="nav flex-column sidenav">
  <a class="nav link-active" href="#">Profile</a>
  <a class="nav link-active" href="#">Links</a>
  <a class="nav link-active" href="#">About</a>
  <a class="nav link-active" href="#">Contact</a>
</nav>

